<!DOCTYPE html>
<html>
<head>
  <title>[% title %]</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="default.css" rel="stylesheet">
  <link href="atom.xml" rel="alternate" title="Atom feed" type="application/atom+xml">
  <link href="feed.json" rel="alternate" title="JSON feed" type="application/json">
</head>
<body>
  <div class="container">
  <div class="row">
    <div class="col-sm-9">
      [% content %]
    </div>
    <div class="col-sm-3 sidebar">
      <section>
        <a href="/"><center><img src="images/blog.png"></center></a>
        <p>This is Kivanc Yazan, I'm a software engineer at <a href="https://www.ziprecruiter.com/" target="_blank">ZipRecruiter</a>. Nice to meet you!</p>
      </section>
      <section>
        <h1>Links</h1>
        - <a href="https://pullrequest.club" target="_blank">Pull Request Club</a><br>
        - <a href="https://twitter.com/buyemek" target="_blank">Bu Yemek</a><br>
        - <a href="https://kyzn.org/slides" target="_blank">Slide Decks</a><br>
        - <a href="https://github.com/kyzn" target="_blank">GitHub Profile</a>
      </section>
      <section>
      [% current_year = 0 %]
      [% FOREACH post IN plerd.posts %]
        [% post_year = post.year %]
        [% IF !current_year || current_year != post_year %]
          <h1>[% post_year %]</h1>
        [% END %]
         - <a href="[% post.uri %]">[% post.title %]</a><br>
        [% current_year = post_year %]
      [% END %]
      </section>
      <section>
        <h1>License</h1>
        Blogs and original images are licensed under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" src="images/by-nc-sa.png" /></a>
      </section>
    </div>
  </div>
  <br><br>
</div>
</body>
</html>
