body {
  background:#d9d3d1;
  font: 16px Helvetica, bodyfont, serif;
  color: #111;
  word-wrap: break-word;
  text-align: left;
}
.page-header {
  border-bottom: 1px solid #555;
}
.sidebar h1 {
  font-size: 1.5em;
}
img.author-link {
  width: 20px;
}
.sidebar section {
  margin-top: 2em;
}
img {
  max-width: 90%;
  max-height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}
code {
  white-space: normal;
}
hr {
  color: #000;
  background-color: #000;
  height: 1px;
  border: none;
}
section {
  font-size: 15px;
  text-align: left;
}
.caption {
  font-size: 15px;
  font-style: italic;
  margin: -15px 0 2em 0;
  line-height:1em
}
pre, code {
  margin: 0 0 10px 0;
  background-color: #eee;
  border: none;
  color: inherit;
  line-height: 1.5;
}
h1 small {
  color: #111;
}
h2 {
  font-size: 25px;
  margin-top: 30px;
}
h3 {
  font-size: 20px;
  margin-top: 25px;
}
blockquote {
  border-left: 3px solid #555;
}
.row {
  margin-right: 0px;
  margin-left:  0px;
}
a:hover, a:focus {
  color: #3333dd;
  text-decoration: underline;
}
a {
  color: #3333dd;
  text-decoration: none;
}
